<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <!-- Add a Form with the following Inputs (and Validators)
           1) Mail address (should not be empty and should be an email address)
           2) A Dropdown which allows the user to select from three different Subscriptions ("Basic", "Advanced", "Pro")
              Set "Advanced" as Default
           3) A Password field (should not be empty)
           4) A Submit Button

           Display a warning message if the Form is invalid AND was touched. Display a warning message below each input if it's invalid.

           Upon submitting the form, you should simply print the Value of the Form to the Console.
           Optionally, display it in your template.
      -->
      <form (ngSubmit)="onSubmit()" #form="ngForm">
        <div class="form-group alert alert-danger" *ngIf="!form.valid && form.touched">
            The form was filled inncorrectly!
        </div>
        <div class="form-group">
          <label for="mail">Email</label>
          <input
            type="text" 
            id="mail"
            class="form-control"
            ngModel
            name="mail"
            required
            email
            #email="ngModel">
        </div>
        <span
         class="help-block"
         *ngIf="!email.valid && email.touched">Please enter a valid email!</span>
        <div class="form-group">
          <label for="subscription">Subscription</label>
          <select
           id="subscription"
           class="form-control"
           [ngModel]="defaultSub"
           name="subscription">
            <option value="basic">Basic</option>
            <option value="advanced">Advanced</option>
            <option value="pro">Pro</option>
          </select>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input
            type="password" 
            id="password"
            class="form-control"
            ngModel
            name="password"
            required
            #password="ngModel">
        </div>
        <span
         class="help-block"
          *ngIf="!password.valid && password.touched">
          Please enter a password!
        </span>
        <button
         class="btn btn-primary"
         type="submit"
         [disabled]="!form.valid">
         Submit</button>
      </form>      
    </div>
  </div>  
  <div class="row" *ngIf="submitted">    
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <hr>
      <h3>Your info</h3>
      <p>Email: {{ user.email }}</p>
      <p>Subscription: {{ user.subscription }}</p>
      <p>Password: {{ user.password }}</p>
    </div>
  </div>
</div>
